<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.xnio" level="ERROR"/>-->
    <!--<logger name="io.undertow" level="ERROR"/>-->

    <!--<logger name="io.heapy.kpress.koin" level="ERROR"/>-->
    <logger name="io.heapy.kpress" level="TRACE"/>

    <root level="TRACE">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
